@model DumpApp.BAL.AdminModel.ViewModel.MenuViewModel
@{
    List<int> inta = new List<int>();

    var rst2 = (Model.Menu.Join(Model.MenuAssign, a => a.menu_id, b => b.menu_id,
            (a, b) => new { ag = a, bg = b })
        .Where(f => f.ag.parent != null && f.bg.role_id == Model.roleid && f.ag.flag == true)
        .Select(a => new { a.ag.parent })).ToList();


    int count = 0;
    int val = 0;
    bool suc = false;
    foreach (var gh in rst2)
    {

        suc = int.TryParse(gh.parent.ToString(), out val);
        inta.Add(val);

        count++;
    }


    var rst = Model.Menu.Where(d => d.parent == null && inta.Contains(d.menu_id) && d.flag == true).OrderBy(m => m.priority)
        .Select(f => new
        {
            parent = f.menu_id,
            parentname = f.menu_name.ToUpper(),
            act = f.action,
            ctrler = f.controller,
            ResourceKey = f.css_class
        });


}

<div class="sidebar-wrapper" sidebar-layout="stroke-svg">
    <div>
        <div class="logo-wrapper">
            <a asp-controller="Dashboard" asp-action="Index"><img class="img-fluid for-light" src="~/assets/images/logo/logo.png" alt=""><img class="img-fluid for-dark" src="~/assets/images/logo/logo_dark.png" alt=""></a>
            <div class="back-btn"><i class="fa fa-angle-left"></i></div>
            <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"> </i></div>
        </div>
        <div class="logo-icon-wrapper"><a asp-controller="Dashboard" asp-action="Index"><img class="img-fluid" src="~/assets/images/logo/logo-icon.png" alt=""></a></div>
        <nav class="sidebar-main">
            <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
            <div id="sidebar-menu">
                <ul class="sidebar-links" id="simple-bar">
                    <li class="back-btn">
                        <a asp-controller="Dashboard" asp-action="Index"><img class="img-fluid" src="~/assets/images/logo/logo-icon.png" alt=""></a>
                        <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
                    </li>
                    
                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title link-nav" asp-controller="Contacts" asp-action="Contacts">
                            <svg class="stroke-icon">
                                <use href="../assets/svg/icon-sprite.svg#stroke-contact"></use>
                            </svg>
                            <svg class="fill-icon">
                                <use href="../assets/svg/icon-sprite.svg#fill-contact"> </use>
                            </svg><span>Contacts</span>
                        </a>
                    </li>
                @foreach (var item in rst)
                    {
                        <li class="sidebar-list">
                            <label class="badge badge-light-primary">5</label>
                            <a class="sidebar-link sidebar-title">
                                <svg class="stroke-icon">
                                    <use href="../assets/svg/icon-sprite.svg#stroke-home"></use>
                                </svg>
                                <svg class="fill-icon">
                                    <use href="../assets/svg/icon-sprite.svg#fill-home"></use>
                                </svg><span class="lan-3">@item.parentname</span>
                            </a>
                            @{
                                var rst24u = Model.Menu.Join(Model.MenuAssign, a => a.menu_id, b => b.menu_id,
                                        (a, b) => new { ag = a, bg = b })
                                    .Where(n => n.ag.parent != null && n.ag.menu_id == n.bg.menu_id && n.ag.flag == true
                                                && n.bg.role_id == Model.roleid && n.ag.parent == item.parent)
                                    .OrderBy(a => a.ag.priority)
                                    .Select(a => new
                                    {
                                        parent = a.ag.menu_id,
                                        menuname = a.ag.menu_name,
                                        actn = a.ag.action,
                                        cntrler = a.ag.controller,
                                        ResourceKey = a.ag.css_class
                                    });

                            }
                            <ul class="sidebar-submenu">
                                @foreach (var i in rst24u)
                                {
                                    <li><a class="lan-4" href="@Url.Action(i.actn, i.cntrler, new { menuid = i.parent })">@i.menuname</a></li>
                                }
                            </ul>
                        </li>
                    }


                </ul>
            </div>
            <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
        </nav>
    </div>
</div>
