
@{
    Layout = null;
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Xenon Boostrap Admin Panel">
    <meta name="author" content="Laborator.co">
    <meta name="robots" content="follow, noindex, max-snippet:-1, max-video-preview:-1, max-image-preview:large">
    <title>Tape App</title>
    <script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/destination?id=AW-991533214&amp;l=dataLayer&amp;cx=c"></script>
    <script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=G-9GDT6T7NK1&amp;l=dataLayer&amp;cx=c"></script>
    <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-KX2N99"></script>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KX2N99');</script>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
    <link rel="stylesheet" href="~/assets/css/fonts/linecons/css/linecons.css">
    <link rel="stylesheet" href="~/assets/css/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/assets/css/xenon-core.css">
    <link rel="stylesheet" href="~/assets/css/xenon-forms.css">
    <link rel="stylesheet" href="~/assets/css/xenon-components.css">
    <link rel="stylesheet" href="~/assets/css/xenon-skins.css">
    <link rel="stylesheet" href="~/assets/css/custom.css">
    <script src="~/assets/js/jquery-1.11.1.min.js"></script>
    <meta http-equiv="origin-trial" content="AymqwRC7u88Y4JPvfIF2F37QKylC04248hLCdJAsh8xgOfe/dVJPV3XS3wLFca1ZMVOtnBfVjaCMTVudWM//5g4AAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjk1MTY3OTk5LCJpc1RoaXJkUGFydHkiOnRydWV9">
    <meta http-equiv="origin-trial" content="AymqwRC7u88Y4JPvfIF2F37QKylC04248hLCdJAsh8xgOfe/dVJPV3XS3wLFca1ZMVOtnBfVjaCMTVudWM//5g4AAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjk1MTY3OTk5LCJpc1RoaXJkUGFydHkiOnRydWV9">
    <script type="text/javascript" async="" src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/991533214/?random=1709147580427&amp;cv=11&amp;fst=1709147580427&amp;bg=ffffff&amp;guid=ON&amp;async=1&amp;gtm=45be42q1v874058281z872185995za201&amp;gcd=13l3l3l3l1&amp;dma=0&amp;u_w=1344&amp;u_h=840&amp;url=https%3A%2F%2Fthemes.laborator.co%2Fxenon%2Fextra%2Flockscreen%2F&amp;ref=https%3A%2F%2Fthemes.laborator.co%2Fxenon%2Fextra%2Fsearch%2F&amp;top=https%3A%2F%2Fthemes.laborator.co%2Fxenon%2Fextra%2Fsearch%2F&amp;hn=www.googleadservices.com&amp;frm=2&amp;tiba=Xenon%20-%20Homepage&amp;npa=0&amp;pscdl=noapi&amp;rfmt=3&amp;fmt=4"></script>
</head>
<body class="page-body lockscreen-page">
    <div class="login-container">
        <div class="row">
            <div class="page-error centered">
               <h2>
                    <img src="~/assets/images/error.jpg" style="width:300px" />
                    Internal Server Error
                    <small>Page not found!</small>
                </h2> <p>We did not find the page you were looking for!</p> <p>You can search again or contact one of our IT to help you!</p>
                <a href="@Url.Action("DashBoard", "Home")" class="btn btn-success waves-effect waves-light">
                    <i class="fe-airplay"></i>
                    <span> Dashboard </span>
                </a>
                </div>
        </div>
    </div>
    <script src="https://themes.laborator.co/xenon/assets/js/bootstrap.min.js" id="script-resource-1"></script>
    <script src="https://themes.laborator.co/xenon/assets/js/TweenMax.min.js" id="script-resource-2"></script>
    <script src="https://themes.laborator.co/xenon/assets/js/resizeable.js" id="script-resource-3"></script>
    <script src="https://themes.laborator.co/xenon/assets/js/joinable.js" id="script-resource-4"></script>
    <script src="https://themes.laborator.co/xenon/assets/js/xenon-api.js" id="script-resource-5"></script>
    <script src="https://themes.laborator.co/xenon/assets/js/xenon-toggles.js" id="script-resource-6"></script>
    <script src="https://themes.laborator.co/xenon/assets/js/jquery-validate/jquery.validate.min.js" id="script-resource-7"></script>
    <script src="https://themes.laborator.co/xenon/assets/js/toastr/toastr.min.js" id="script-resource-8"></script>
    <script src="https://themes.laborator.co/xenon/assets/js/xenon-custom.js" id="script-resource-9"></script>
</body>
</html>
